ion-menu {
  --width: 80px;
  --max-width: 80px;
  --background: #f8f8f8;
}

ion-menu ion-content {
  --background: #f8f8f8;
}

ion-menu ion-list {
  padding: 0;
}

ion-menu ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 20px;
  text-align: center;
}

ion-menu ion-icon {
  font-size: 24px;
  color: #666;
}

ion-menu ion-label {
  display: none; /* Ocultar texto, solo mostrar iconos */
}
