services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./Dbase/generador_schema.sql:/docker-entrypoint-initdb.d/generador_schema.sql

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - "./Backend:/app"
    depends_on:
      - db

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    ports:
      - "8100:8100"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    depends_on:
      - backend
      

volumes:
  db_data: