services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: govet
      POSTGRES_USER: pawsolutions
      POSTGRES_PASSWORD: garrita
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./Dbase/generador_schema.sql:/docker-entrypoint-initdb.d/generador_schema.sql

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://pawsolutions:garrita@db:5432/govet
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "8100:8100"
    depends_on:
      - backend

volumes:
  db_data: