.pacientes-searchbar {
  --background: linear-gradient(135deg, #faf9fb, #f5f3f7);
  --border-radius: 0.75rem;
  --box-shadow: 0 0.125rem 0.5rem rgba(221, 207, 228, 0.3);
  margin: 0.5rem 0;
  --color: #374151;
  --placeholder-color: #9ca3af;
  position: fixed;
  top: 55px;
  left: 0px;
  z-index: 1000;
}