/* Estilos personalizados para los toasts (notificaciones popup en la app) */

ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #4b4a50;
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #d2d2d2;
  color: #030207;
  font-size: 15px;
}

/* Estilos para íconos en botones */

.button-icon {
  font-size: 1.5rem; /* Tamaño del ícono */
  color: #ffffff; /* Color del ícono */
  margin-right: 0.5rem; /* Espacio entre el ícono y el texto */
}

.custom-button {
  width: 19rem;
  margin: 0 auto;
  display: block;

  --background: #c757c0 !important;
}