.search-container {
  padding: 8px 16px;
  background: var(--ion-background-color, white);
}

.search-container-sticky {
  position: sticky;
  top: 0px; /* Debajo del segmento (altura aproximada del segment) */
  z-index: 1000; /* Menor que SegmentedView */
  padding: 8px 16px;
  box-shadow: 0 2px 8px rgba(128, 85, 136, 0.28);
  margin-bottom: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .search-container-sticky {
    top: 86px; /* Ajustar para pantallas más pequeñas */
    padding: 6px 12px;
  }
}