:root {
	--ion-color-primary: #dc8add;
	--ion-color-primary-rgb: 220,138,221;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #c279c2;
	--ion-color-primary-tint: #e096e0;

	--ion-color-secondary: #9141ac;
	--ion-color-secondary-rgb: 145,65,172;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #803997;
	--ion-color-secondary-tint: #9c54b4;

	--ion-color-tertiary: #f43baa;
	--ion-color-tertiary-rgb: 244,59,170;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d73496;
	--ion-color-tertiary-tint: #f54fb3;

	--ion-color-success: #e22cdd;
	--ion-color-success-rgb: 226,44,221;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #c727c2;
	--ion-color-success-tint: #e541e0;

	--ion-color-warning: #ff7800;
	--ion-color-warning-rgb: 255,120,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e06a00;
	--ion-color-warning-tint: #ff861a;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f5f4;
	--ion-color-light-rgb: 246,245,244;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8d8d7;
	--ion-color-light-tint: #f7f6f5;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}
